<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>需要获取您的位置信息，为您提供精准的病虫害预警服务。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>需要使用麦克风进行 AI 语音通话。</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>VolcEngineAccessToken</key>
	<string>tJ3r4vC1ul8oaCnbDdfSGLYZwkz7zZx0</string>
	<key>VolcEngineAppId</key>
	<string>6719567355</string>
	<key>VolcEngineAppKey</key>
	<string>PlgvMymc7f3tQnJ6</string>
	<key>QWeatherHost</key>
	<string>https://pm2yvwymb6.re.qweatherapi.com</string>
	<key>QWeatherApiKey</key>
	<string>8aa3d90483cc4d49b8f75b7b54af8c26</string>
</dict>
</plist>
